{%extends "user/layout.html"%}
{% block content %}{%endblock%}

{% block morecontent %}
    
<div class="container px-4 py-5" id="custom-cards">
  <div class="row">
    <div class="col">
      <select id="category" class="form-select border-primary">
        <option >please select</option>
        {%for c in cats %}
        <option value="{{c.cat_id}}">{{ c.cat_name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <input type="text" id="title" class="form-control form-control-lg border-primary" placeholder="type a keyword">

    </div>
    <div class="col">
      <button class="btn btn-primary noround btn-lg col-12" id="btnsearch">search</button>
    </div>

  </div>
    <h2 class="pb-2 border-bottom">Explore available book</h2>
    
    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
      {% for b in userbook %}
      <div class="col">
       <img src="{{url_for('static',filename='collections/'+b.book_cover)}}" class="img-fluid bk" alt="">    
       <div class="deets">
        <h6><a href="/review/{{b.book_id}}">{{b.book_title}}</a> </h6>
        <p><i>{{b.catdeets.cat_name}}</i></p>
        <p><button></button></p>

            
       </div>  
       </div>
       {% endfor %}
          
    </div>
  </div> 
 </div>
 {% block customjs %}
 <script type="text/javascript">
    $(document).ready(function(){
      $("#btnsearch").click(function(){
        var cat=$('#category').val()
      var title=$('#title').val()
      data2send={"category":cat,"title":title}
      $.ajax({
        url:"/search/book",
        data:data2send,
        type:"get",
        success:function(rsp){ alert(rsp) },
        error:function(err){console.log(err)}
      })
      })
      
    })
 </script>


 {% endblock %}

{%endblock%}

{% block featured %}{%endblock%}